/* Eléments généraux */
* {
    margin: 0;
}
body{
    font-family: 'Raleway', Arial, sans-serif;
    width: 80%;
    margin: 0 auto;
    font-size: 0.6em;
}
section{
    display: flex;
    justify-content:space-between;
    padding: 27px 38px 0 38px ;
    box-sizing: border-box;
    font-family: inherit;
}
#section1{
    flex-direction: column;
}
img{width: 100%; /* Les img doivent s'adapter à la taille de leurs parents */}
h1{font-size: 1.7em;}
h2{font-size: 1.4em;}
h3{font-size: 1.2em}

/* Eléments personnels */
.flex{
    display: flex;
    justify-content:space-between;
}
/* Couleurs de police */
.perso-couleur1 {color: #0065FC;}
.perso-couleur2 {color: #deebff;}
.perso-couleur3 {color: #f2f2f2FC;}
.perso-couleur4 {color: white;}
/* Couleurs de fond */
.perso-bg-couleur1 {background-color: #0065FC;}
.perso-bg-couleur2 {background-color: #deebff;}
.perso-bg-couleur3 {background-color: #f2f2f2FC;}
.perso-bg-couleur4 {background-color: white;}

.perso-style1{
    padding-top: 7px;
    font-size: 1.2em;
}

/* Header */
header{
    display: flex;
    justify-content:space-between;
    padding: 34px 38px 0 38px;
    box-sizing: border-box;
}
#logo {
    max-width: 7.1%;
    min-width: 60px;
    margin-left: 5px;
}
/* Navigation */
.menu{
    align-items: center;
    width: 32.4%;
    margin-right: 22px;
} 
.menu ul{
    display: flex;
    justify-content:space-between;
    list-style: none;
}
.menu ul li:first-child{
    margin: -35px 0 0 0;
    padding: 33px 0 0 0;
    border-top: 2px solid #0065FC;
}
.menu ul li:nth-child(2) a{
    color:black;
}
.menu a {
    text-decoration: none;
    font-weight: bold;
}
.menu a:visited {
    color: #0065FC;
}
/* Zone de recherche */
form{
    font-family: inherit;
    font-size: 1.3em;
    padding-top: 7px;
}
#icone-localisation{
    padding: 12px 15px;
    border-radius: 10px 0 0 10px ;
    display: inline-block;
}
#ville, #searchbtn{
    padding: 12px 10px;
    border: 1px solid #f2f2f2FC;
    margin-left: -5px;
}
#searchbtn{
    border-radius: 0 10px 10px 0;
}

/* Filtres */
.bloc-filtre{
    display: flex;
    justify-content:left ;
    flex-wrap: nowrap;
    margin: 20px 0 23px 0; 
}
.filtres{
    align-items: center;
    margin-right: 20px;
    padding-right: 17px;
    border: 2px solid #f2f2f2FC;
    border-radius: 18px 18px;
}
.icone-filtre{
    padding: 10px ;
    border-radius: 18px 18px;
    margin-right: 10px;
}
#icone-info{
    padding: 3px 8px;
    margin-right: 10px;
}

/* Corps */
.sous-section-hebergements{
    border-radius: 15px;
    padding: 30px;
    box-sizing: border-box;
}
#marseille{
    flex-basis: 65.8%;
    flex-shrink: 0;
    flex-grow: 0;
}
#populaire{
    flex-basis: 31.2%;
    flex-shrink: 0;
    flex-grow: 0;
}
.group-element1, .group-element3{
    flex-wrap: wrap;
}
.group-element1{
    display: flex;
    justify-content:space-between;
}
.group-element1 figure{
    flex-basis: 30%;
    margin-top: 20px;
   background-color: white;
   border: 5px solide white;
  
}
.group-element1 img{
    border-radius: 10px; 
    max-height: 100px;
    position: relative;
}
.info1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -15px;
    padding: 10px;
    background-color: white;
    position: relative;
}

.element3{
    flex-basis: 23%;
}
