/* Géréral */
* {
    margin: 0 0;
    padding: 0 0;
}
html {
    
    color: #181818;
    font-size: 0.7em;
    font-weight: bold;
}
body{
    width: 980px;
    margin: 0 auto;
}
h1{
    font-size: 1.4em;
    font-weight: bold;
}
.perso_police1{
    font-size: 1.4em;
    font-weight: bold;
}
.reservia_flex{
    display: flex;
}

#logo img{
    width: 65px;
}
    

    nav a:hover{
        
    }
/* Bandeau */
#bandeau{
    margin-top: 20px ;
}
#bandeau p{
    margin-top: 5px ;
}
#searchzone{
    margin-top: 15px;
}
input{
    height: 30px;
}
#ville{border: 1px solid #f2f2f2;}
#searchbtn{
    background-color: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0 10px 10px 0;
    width: 90px;
    color: #fff;
}
#icone_localisation{
    text-align: center;
    padding-top: 10px;
    background-color: #f2f2f2;
    width: 30px;
    border-radius: 10px 0 0 10px;
}




/* Corps */
aside{
    
}
.hebergement{
    background-color: #f2f2f2;
    
    
}

#section_hebergement{
    justify-content: space-around;
}
#marseille{
    max-width: 60%;
    
}
#populaire{
    max-width: 30%;
    
}

/* Footer */