/* Eléments généraux */
* {
    margin: 0;
    letter-spacing: 0.028em;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    color: black;
}
body{
    font-family: 'Raleway', Arial, sans-serif;
    width: 1080px;
    margin: 0 auto;
    
}
h1, h2, h3 {
    font-weight: 700;
}
h1{font-size: 1em;}
h2{font-size: 1em;}
h3{font-size: 0.9em}
p{
    font-size: 0.9em;
    padding-top: 7px;
    font-weight: 300;
}
a {
    text-decoration: none;
    font-weight: 300;
    font-size: 0.7em;
}

/* Mes Classes */

.perso-couleur1 {color: #0065FC;}
.perso-couleur2 {color: #deebff;}
.perso-couleur3 {color: #f2f2f2FC;}
.perso-couleur4 {color: white;}

/* Header */
header{
    display: flex;
    justify-content:space-between;
    padding: 34px 38px 0 38px;
    margin-left:2px;
}
#logo {
    max-width: 7.1%;
    min-width: 60px;
}
#logo img{width: 100%;}

/* Navigation */
nav ul{
    display: flex;
    justify-content:left;
    list-style: none;
}
nav ul li{
    padding: 35px 25px 0 25px;
    margin: -34px 0 0 0;
    font-weight: normal;
}
nav ul li:hover{
    border-top: 2px solid #0065FC;
}
navu ul li:nth-child(2) a{
    color:black;
}
nav a:hover {
    color: #0065FC;
}
nav a:visited {
    color: #0065FC;
}

/* Zone de recherche */
form{
    display: flex;
    flex-wrap: nowrap;
    padding-top: 10px;
}
input{
    font-family: inherit;
    font-weight: 700;
    padding: 11px 12px;
    border: 1px solid #f2f2f2FC;
    margin-left: -5px;
}
label{
    font-size: 0.8em;
}
#icone-localisation{
    padding: 12px 15px;
    border-radius: 15px 0 0 15px ;
    background-color: #f2f2f2FC;
    display: inline-block;
}
#searchbtn{
    border-radius: 0 15px 15px 0;
    font-weight: 200;
    color: #fff;
    background-color: #0065FC;
}
#searchbtn1{
    padding: 12px 6px;
    border-radius: 14px;
    display: none;
    border:none;
    margin-left: -10px;
    font-weight: 200;
    background-color: #0065FC;
}
#searchbtn1 span{
    margin: 0;
}
#searchbtn1 i{
    color: #fff;
}

/* Filtres */
.bloc-filtre{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 20px 0;
}
#titre-filtre{
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
}
.bloc-icones-filtre{
    display: flex;
    justify-content:left ;
    flex-wrap: wrap;
    
}
.filtres{
    display: flex;
    align-items: center;
    margin: 0 20px 0 0;
    padding-right: 17px;
    border: 3px solid #f2f2f2FC;
    border-radius: 22px;
}
.icone-filtre{
    padding: 10px 12px ;
    border-radius: 18px 18px;
    margin-right: 10px;
    font-size: 0.8em;
    color: #0065FC;
}
#icone-info{
    padding: 3px 7px;
    margin-right: 10px;
    border: 3px solid #f2f2f2FC;
    border-radius: 22px;
}
.icone-filtre i, #icone-info i{
    color: #0065FC;
}
/* Sections */
section{
    display: flex;
    justify-content:space-between;
    padding: 24px 38px 0 38px ;
}
#section1{
    flex-direction: column;
    padding-left: 40px;
}
#section1 p, #section1 p i {
    font-size: 0.7em;
}
.sous-section2-hebergements{
    background-color: #f2f2f2FC;
    border-radius: 15px;
    padding: 30px;
    }
    .sous-section2-hebergements:first-child{
        width: 65.8%;
    }
    .sous-section2-hebergements:nth-child(2){
        width: 31.2%;
    }
    .sous-section2-hebergements div:first-child{
        display:flex;
        justify-content: space-between;
    }
    .group-hebergements1{
        display: flex;
        flex-wrap: wrap;
        justify-content:space-around;
        margin-bottom: 28px;
    }
    .group-hebergements2{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }
    .group-hebergements1 a{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 31%;
        height: 147px;
        margin-top: 20px;
        padding-top: 4px;
        background-color: white;
        border-radius: 13px;
        text-align: left;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        position: relative;
    }
    .group-hebergements2 a{
        display: flex;
        flex-direction: row;
        width: 265px;
        margin-top: 20px;
        background-color: white;
        border-radius: 13px;
        text-align: left;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        position: relative;
    }
    .group-hebergements1 img{
        margin: 0 auto;
        border-radius: 10px; 
        max-height: 100px;
        width: 96%;
    }
    .group-hebergements2 img{
        width: 48%;    
        border-radius: 18px; 
        height: 110px;
        padding: 4px;
    }
    .group-hebergements1 figcaption{
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding: 10px;
        border-radius: 0 0 10px 10px;
        background-color: white;
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    .group-hebergements2 figcaption{
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding: 11px 15px;
        border-radius: 0 10px 10px 0;
        background-color: white;
        width: 60%;
        height: 100%;
        position: absolute;
        right:0;  
    }
    .group-hebergements1 figcaption span{
        margin-top: 5px;
        font-size: 0.65em;
    }
    .group-hebergements2 figcaption span{
        margin-top: 39px;
        font-size: 0.65em;
    }

#section3-activites{
    display: flex;
    flex-direction: column;
}
#section3-activites article{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:flex-start;
    height: 335px;
    margin-top: 15px;
}
#section3-activites article a{
    display: flex;
    align-items: flex-end;
    width: 22.5%;
    margin-right: 35px;
    border-radius: 13px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}
#section3-activites article p{
    font-size: 0.9em;
    font-weight: bold;
    background-color: white;
    border-radius: 0 0 13px 13px;
    padding: 15px 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    
}
#section3-activites article a img {
    width: 160%;
    height: 100%;
}
#section3-activites a:first-child, 
#section3-activites a:nth-child(4) {
    height: 100%;
}
#section3-activites a:nth-child(2) {
    height: 50%;
}
#section3-activites a:nth-child(3) {
    height: 40%;
}
#section3-activites a:nth-child(5), 
#section3-activites a:nth-child(6) {
    height: 45%;
}
/* Traitement des images de la section 3 */
#section3-activites a:nth-child(1) img {
    top:-10px;
    right:105px;
    width: 200%;
}
#section3-activites a:nth-child(4) img {
    top:-10px;
    left:-120px;
    width: 200%;
    filter:brightness(130%) saturate(70%);
}

/* Footer */
footer{
    display: flex;
    flex-direction: row;
    justify-content: start;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);;
    background-color: #f2f2f2FC;
    margin-top: 45px;
    padding: 35px;
}
footer aside{
    width: 33%;
}
footer p{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 400;
}
footer a{
    padding-top: 14px;
    text-decoration: none;
    color:black;
    
}
@media(max-width: 1060px){
    body{
        width: 100%;
    }
    section{
        padding: 27px 0 0 27px ;
        justify-content: space-around;
    }
    .sous-section2-hebergements{
        padding:25px;
    }
    .group-hebergements1 a, .group-hebergements2 a{
        margin-top: 10px;
    }
    #section3-activites article {
        flex-direction: row;
        justify-content: space-around;
        height: auto;
    }
    #section3-activites a:nth-child(n){
        flex-direction: row;
        width: 265px;
        height: 147px;
        margin: 10px 0 0 20px;
        border-radius: 13px;
        text-align: left;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        position: relative;
    }
    #section3-activites article img:nth-child(n){
        width: 100%;
    }
}
@media(max-width: 880px){
    /* Filtres */
    .bloc-filtre{
        flex-direction: column;
        align-items: flex-start;
    }
    #titre-filtre, .filtres{margin-bottom: 10px;}

    /* Sections */
    section{
        padding: 0 ;
    }
    #section1{
        margin-top:20px;
    }
    #section2-hebergements{
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 30px;
    }
    .sous-section2-hebergements{
        padding:15px;
        border-radius: 0;
    }
    .sous-section2-hebergements:first-child{
        width: 100%;
        margin-top:15px;
        background-color: white;
    }
    .sous-section2-hebergements:nth-child(2){
        width: 100%;
    }
    .group-hebergements1, .group-hebergements2, #section3-activites article{
        justify-content: center;
    }
    .group-hebergements1 a, .group-hebergements2 a{
        width: 256px;
        margin-left: 20px;
    }
    footer{
        flex-wrap: wrap;
    }
    
    footer aside{
        width: 256px;
        margin-bottom: 30px;
    }
}

@media(max-width: 410px){
    
    #section1,
    #section2-hebergements,
    #section3-activites{
        width: 100%;
    }

    #searchbtn{
        display :none;
    }
    #searchbtn1{
        display:inline;
    }
    .group-hebergements1 a, .group-hebergements2 a, #section3-activites a:nth-child(n){
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }
}